* {
  cursor: url('~/assets/custom-cursor.svg') 25 25, auto;
  box-sizing: border-box;
}

body {
  font-family: Sarvatrika;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      cursor: url('~/assets/custom-cursor.svg') 25 25, auto;
    }
  }
}

.anchorClass {
  text-decoration: underline !important;
}

::selection {
  background: white;
  color: gold;
}

.content {
  p,
  a {
    font-size: 29px;
    line-height: 34px;
  }
}

.content > a {
  text-decoration: underline;
}

.container {
  max-width: 100%;
  padding: 40px;
}

.textBox {
  height: 100%;
  display: block;
  p,
  a {
    margin: 0;
  }
}

.noMargin {
  p,
  a {
    font-size: 30px;
    line-height: 35.73px;
    margin: 0;
  }
}
