@import '../../styles/variables';

.content {
  p:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}

.imageContainer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    max-height: 500px;
  }
}
