@import './variables';
@import './typo';

// some styles
* {
  cursor: url('../assets/custom-cursor.svg'), auto;
}

body {
  font-family: Helvetica Neau;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body a:hover {
  cursor: url('../assets/custom-cursor.svg'), auto;
}

.anchorClass {
  text-decoration: underline !important;
}

::selection {
  background: $white;
  color: gold;
}

.larger-text {
  font-size: 30px;
  line-height: 35.73px;
}

.content {
  p,
  a {
    font-size: 30px;
    line-height: 35.73px;
  }
}

.container {
  max-width: 100%;
  padding: $spacer;
}
