@import './variables';
@import './typo';

// some styles

body {
  font-family: Helvetica Neau;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.anchorClass {
  text-decoration: underline !important;
}

::selection {
  background: $white;
  color: gold;
}

.larger-text {
  font-size: 30px;
  line-height: 35.73px;
}
