@import './variables';

@font-face {
  src: url('./fonts/reg.otf');
  font-family: Neau;
  font-weight: normal;
}

@font-face {
  src: url('./fonts/bold.otf');
  font-family: Neau;
  font-weight: bold;
}

body {
  p,
  a {
    font-family: Neau;
    text-transform: lowercase;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Neau;
  }
  a {
    color: $black;
    &:hover {
      text-decoration: none;
      color: $black;
    }
  }
}

.parag {
  font-size: 20px;
}
