@import '../../styles/variables';

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: grid;
  gap: 30vh;
  grid-template-rows: repeat(1, 1fr);
}

.img {
  animation: fade 0.4s;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  width: 30vw;
  max-height: 500px;
  z-index: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 0.3s;
  }
}
