@import '../../styles/variables';

.textBox {
  height: 100%;
  display: block;
  p,
  a {
    margin: 0;
  }
}

.textBox:not(:first-of-type) {
  margin: calc(#{$spacer} * 2) 0;
}

.content {
  p,
  a {
    font-size: 30px;
    line-height: 35.73px;
  }
}
